<div class="col s12 jobs-card-<%= job.hash_num %>">
  <div>
    <span>A new Job</span>
    <p>I give some flavor text. I pay <%= job.money %> money and require <%= job.time %> time...</p>
  </div>
  <div class="start-job">
    <%= link_to 'Start working', start_job_path(id: job.id) %>
  </div>
</div>
