<h1>Create a new Player</h1>

<span class="flow-text">
  You need a player to start the game. Your players name will be visible by all other players.
  Choosing profanity will get you banned from the game.
</span>

<%= render 'form', player: @player %>

